.app-div {
  margin-bottom: 4rem;
  position: relative;
}

.currencies-container {
  margin: 4rem auto 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  color: white;
  border: 1px solid #c9ab81;
  border-radius: 10px;
  background-color: rgba(62, 87, 104, 0.8);
  padding: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #c9ab81;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
