.footer {
  color: white;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #c9ab81;
  background-color: rgba(21, 30, 36, 0.8);
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
