.navbar {
  width: 100%;
  color: white;
  display: flex;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  justify-content: space-around;
  border: 1px solid #C9AB81;
  background-color: rgba(21, 30, 36, 0.8);
}